<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AoNews"
        android:name=".AoNewsApplication">

        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SplashActivity"
            android:exported="false"
            android:theme="@style/Theme.AoNews.Splash"
            android:noHistory="true" />

        <activity
            android:name=".activities.DetailActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.SearchActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
